body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 350px 5fr;
}

.dashboard {
    background-color: rgb(73, 179, 214);
    grid-row: span 2;
    color: white;
    font-weight: 900;
    display: grid;
    grid-template-rows: 1fr 4fr 55%;
    font-size: 30px;
    font-weight: 900;
    padding: 40px;
}

.filter_white {
    filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(66deg) brightness(103%) contrast(102%);
}

.dbtop div {
   display: flex;
   gap: 30px;
   align-items: center;
}

.dbmiddle div,
.dbbottom div {
    display: flex;
    gap: 15px;
}

.dbmiddle,
.dbbottom {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    gap: 30px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 50px;
    margin-right: 100px;
}

.htop {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 900;
    font-size: 40px;
    
}

input {
    border: none;
    width: 60%;
    height: 60px;
    background-color: lightgray;
    border-radius: 30px;
    margin-right: auto;
    font-size: 30px;
}

input:focus {
    outline: none;
}

.hbotleft {
    display: flex;
    font-weight: 900;
    font-size: 25px;
    margin-left: 50px;
    align-items: center;
    gap: 30px;
}

h1 {
    margin: 0;
}

.hbotright {
    display: flex;
    margin: auto;
    gap: 60px;
    margin-right: 0;
}

button {
    color: white;
    font-size: 30px;
    font-weight: 900;
    background-color: rgb(73, 179, 214);
    padding: 20px;
    border-radius: 40px;
    width: 200px;
    border: 0;
}

h2 {
    margin: 0;
}

.content {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 60px;
    gap: 60px;
    font-size: 30px;
    font-weight: 900;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}

#your_projects {
    grid-row: span 2;
}

.projects {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    padding: 40px 0px;
}

.card {
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    font-weight: 300;
    padding: 10px 40px;
    border-left: 30px solid orange;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.icons {
    margin-left: auto;
    display: flex;
    gap: 40px;
}

#announcements_card {
    height: 80%;
    background-color: white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 300;
    padding: 20px 60px;
    display: grid;
    margin-top: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#announcement1, #announcement2, #announcement3 {
    overflow: hidden;
}

#trending_card {
    height: 71%;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 30px;
    align-items: center;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
}

#trending_card p {
    font-weight: 300;
    margin-top: 10px;
}

#trending_card div {
    padding-top: 30px;
    margin-left: 20px;
}